@using WebSupport.Account
@using WebSupport.Data
@using WebSupport.Models.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    RedmineContext appContext = ViewBag.AppContext;

    IEnumerable<SelectListItem> statuses = new SelectList(Model.Statuses, "Id", "Name");

    ViewData.Add("statuses", statuses);

    bool admin = Account.currentUser.Admin;
}

@model MyIssueViewModel
<style>
    #div_top_hypers {
        background-color: #eeeeee;
        display: inline;
    }

    #ul_top_hypers li {
        display: inline;
    }
</style>
<div class="table-scroll">
    @{
        string name = Account.currentUser.Lastname + ' ' + Account.currentUser.Firstname[0].ToString() + '.';
        string admins = "";
        if (Account.currentUser.Admin)
        {
            admins = "Администратор";
        }
        else
        {
            admins = "Сотрудник";
        }
    }
    <div id="div_top_hypers">
        <ul style="margin-top:15px; text-align:end; font-size:18px;" id="ul_top_hypers">
            <li id="user-label">@admins: @name</li>
            <li>
                <h2 id="main-header">История моих задач</h2>
                <hr align="right" width="100%" size="3" color="#1e5484" style="width:99%; margin-top:0;" />
                <br />
            </li>
        </ul>
    </div>

    <table name="table" class="table">
        <tread class="table-row-tread">
            <tr class="columns-table">
                <th>Проект</th>
                <th>Трекер</th>
                <th>Тема</th>
                <th>Описание</th>
                <th>Создано</th>
                <th>Статус</th>
                <th>Обновление</th>
            </tr>
        </tread>
        <tbody>
            @if (Model.issues.Count() > 0)
            {
                foreach (var issue in Model.issues)
                {
                    <tr>
                        <td data-label="Проект: " name="project-cell" class="cell-multi">&ensp;@issue.ProjectName</td>
                        <td data-label="Трекер: " name="tracker-cell" id="row-table-td">&ensp;@issue.TrackerName</td>
                        <td data-label="Тема: " id="row-table-td" name="subject-cell">&ensp;@issue.issue.Subject</td>
                        <td data-label="Описание: " id="row-desc-table-td" style="" name="desc-cell" class="cell-multi">&ensp;@issue.issue.Description</td>
                        @{
                            if (issue.issue.CreatedOn != null)
                            {
                                string time = ((DateTime)issue.issue.CreatedOn).ToString("f");
                                <td data-label="Создано: " id="row-table-td" name="created-cell">&ensp;@time</td>
                            }
                            else
                            {
                                <td id="row-table-td" name="created-cell">
                                </td>
                            }
                        }

                        <td data-label="Статус: " id="row-table-td" name="status-cell">&ensp;@issue.status</td>
                        @{
                            if (issue.issue.UpdatedOn != null)
                            {
                                string time = ((DateTime)issue.issue.UpdatedOn).ToString("f");
                                <td data-label="Обновлено: " id="row-table-td" name="update-cell">&ensp;@time</td>
                            }
                            else
                            {
                                <td id="row-table-td" name="update-cell">
                                </td>
                            }
                        }
                    </tr>
                }
            }
        </tbody>
    </table>
</div>