
@{
    ViewData["Title"] = "Авторизация";
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}

<div>
    <h2>Техническая поддержка</h2>
    <hr align="right" width="100%" size="3" color="#1e5484" style="width:99%; margin-top:0;" />
    <br />
   
    <form method="post" enctype="multipart/form-data" asp-controller="Authentication" asp-action="Index">
                <ul>
                    <li>
                            
                <svg viewBox="0 0 24 24" width="150" height="150" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <filter id="blur" width="100" height="100">
                        <feGaussianBlur in="SourceAlpha" stdDeviation="3" />
                        <feOffset dx="0" dy="4" result="offsetblur" />
                        <feComponentTransfer>
                            <feFuncA type="linear" slope="0.05" />
                        </feComponentTransfer>
                        <feMerge>
                            <feMergeNode />
                            <feMergeNode in="SourceGraphic" />
                        </feMerge>
                    </filter>
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier"> <circle cx="12" cy="6" r="4" stroke="#1e5484" stroke-width="1.5"></circle> <path d="M19.9975 18C20 17.8358 20 17.669 20 17.5C20 15.0147 16.4183 13 12 13C7.58172 13 4 15.0147 4 17.5C4 19.9853 4 22 12 22C14.231 22 15.8398 21.8433 17 21.5634" stroke="#1e5484" stroke-width="1.5" stroke-linecap="round"></path> </g>
                </svg>

            </li>
                    <li>
                <input style="font-size:25px;" name="username" value="" placeholder="Логин" type="text"
                               autocomplete="on"
                               required />
                    </li>
                    <li>
                <input style="font-size:25px;" name="password"
                               type="password"
                               value=""
                               placeholder="Пароль"
                               autocomplete="on" />
                    </li>
             
                    <li>
                         <input style="font-size:25px;" type="submit" class="btn" name="commit" value="Войти" title="Войти" />
                    </li>
                    <li>
                        <label class="bag">
                            @ViewBag.username

                        </label>
                    </li>
                </ul>
            </form>
    
</div>
