
@{
    ViewData["Title"] = "Авторизация";
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}

<div>
    <h2 style="margin-top:5px;">Техническая поддержка</h2>
    <hr align="right" width="100%" size="10" color="#0f4591" style="margin-top:10px;" />
    <br />
    <form method="post" enctype="multipart/form-data" asp-controller="Authentication" asp-action="Index">
                <ul>
                    <li>
                            <img  src="~/res/account.png" />
                    </li>
                    <li>
                <input style="font-size:25px;" name="username" value="" placeholder="Логин" type="text"
                               autocomplete="on"
                               required />
                    </li>
                    <li>
                <input style="font-size:25px;" name="password"
                               type="password"
                               value=""
                               placeholder="Пароль"
                               autocomplete="on" />
                    </li>
             
                    <li>
                         <input style="font-size:25px;" type="submit" class="btn" name="commit" value="Войти" title="Войти" />
                    </li>
                    <li>
                        <label class="bag">
                            @ViewBag.username

                        </label>
                    </li>
                </ul>
            </form>
    
</div>
