@using WebSupport.Account
@using WebSupport.Data
@using WebSupport.DataEntities;
@using WebSupport.Models.ViewModels

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IList<IssueViewModel>


    <input id="idProjectLabel" hidden/>

<div class="table-scroll">
    @{
        string name = Account.currentUser.Lastname + ' ' + Account.currentUser.Firstname[0].ToString() + '.';
        string admin = "";
        if (Account.currentUser.Admin)
        {
            admin = "Администратор";
        }
        else
        {
            admin = "Сотрудник";
        }
    }
    <div id="div_top_hypers">
        <ul style="margin-top:15px; text-align:end; font-size:18px;" id="ul_top_hypers">
            <li id="user-label">@admin: @name</li>
            <li>
                <h2 id="main-header">Новые задачи</h2>
                <hr align="right" width="100%" size="3" color="#1e5484" style="width:99%; margin-top:0;" />
                <br />
            </li>
        </ul>

    </div>
    <table name="table" class="table">
        <tread class="table-row-tread">
            <tr class="columns-table">
                <th>Трекер</th>
                <th>Тема</th>
                <th>Описание</th>
                <th>Автор (cоздано)</th>
                <th></th>
            </tr>
        </tread>
        <tbody id="me-rows">
   
            @if (Model.Count() > 0)
            {
                foreach (var issue in Model)
                {
                    <tr>
                        <td data-label="Трекер: " name="tracker-cell" id="row-table-td">&ensp;@issue.TrackerName</td>
                        <td data-label="Тема: " name="subject-cell" id="row-table-td">&ensp;@issue.issue.Subject</td>
                        <td data-label="Описание: " id="row-table-td" name="desc-cell" class="cell-multi">&ensp;@issue.issue.Description</td>
                        @if (issue.issue.CreatedOn != null)
                        {
                            string time = ((DateTime)issue.issue.CreatedOn).ToString("g");
                            <td data-label="Автор: " name="created-cell" id="row-table-td">&ensp;@issue.AuthorName (@time)</td>
                        }
                        else
                        {
                            <td data-label="Автор: " name="created-cell" id="row-table-td">&ensp;@issue.AuthorName</td>
                        }
                        <td name="assign"><form asp-action="Submit" asp-controller="Manage" style="text-align:center; background:none;">
                                <input id="id" name="id" value="@issue.issue.Id" hidden/>
                                <input id="submit" style="text-align:center;" type="submit" class="assign-self-a" value="Взять в работу"/>
                            </form></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>