@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Wiki";
}
@using Redmine.Net.Api.Types;
@model IEnumerable<WikiPage>

<div>
    <h3>Все Wiki</h3>
    <div>
        <ul>
            @if (Model.Count() > 0){

                @foreach (var wiki in Model)
                {
                    <li>
                        <div>
                            @Html.ActionLink(wiki.Id.ToString(), "GetWikiPage", "Wiki", wiki)
                        </div>
                    </li>
                }
            }
            else
            {
                <h1>Wiki pages not found</h1>
            }
        </ul>

    </div>
</div>