@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Newtonsoft.Json
@using WebSupport.Entities
@model RedmineContext
@{
    ViewData["Title"] = "Главная";
    Layout = "~/Views/_LayoutMain.cshtml";
    
    RedmineContext appContext = ViewBag.AppContext;

    IEnumerable<SelectListItem> project = new SelectList(Model.Projects.ToList(), "Id", "Name");
    IEnumerable<SelectListItem> tracker = new SelectList(Model.Trackers.ToList(), "Id", "Name");

    ViewData.Add("project", project);
    ViewData.Add("tracker", tracker);

}
<div class="table-scroll">
    <h2 style="margin-top:15px;margin-bottom:5px;">Добавление задачи</h2>
    <hr align="right" width="100%" size="10" color="#0f4591" style="margin-top:0;" />
    <br />
    <form asp-controller="Home" asp-action="AddIssue" method="post">
        <ul>
            <li>
                <label for="">Проект к которому относится предстоящая задача</label>
                @Html.DropDownList("project", ViewData["project"] as IEnumerable<SelectListItem>, "Выберите проект")
            </li>
            <li>
                <label for="">Трек для назначения исполнителя</label>
                @Html.DropDownList("tracker", ViewData["tracker"] as IEnumerable<SelectListItem>, "Выберите трек")
            </li>
            <li>
                <label for="">Кратко с чем связано</label>
                <br />
                <input type="text" name="subject" value="" placeholder="Тема задачи" required />
            </li>
            <li>
                <label for="">Суть задачи</label>
                <br />
                <textarea autocomplete="off" type="text" cols="40" rows="10" name="description" placeholder="Описание" value="" required></textarea>
            </li>
            <li>
                <label class="bag">
                    @ViewBag.CreateResult

                </label>
            </li>
            <li>
                <input class="btn" type="submit" value="Подать заявку" action="AddIssue" />
            </li>
   
        </ul>
    </form>
</div>
