@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Newtonsoft.Json
@using Redmine.Net.Api.Types;
@using RedmineLibrary.Repository;

@{
    ViewData["Title"] = "Главная";
    Layout = "~/Views/_LayoutMain.cshtml";

    IEnumerable<SelectListItem> project = new SelectList(Repository.Projects, "Id", "Name");
    IEnumerable<SelectListItem> tracker = new SelectList(Repository.Trackers, "Id", "Name");

    ViewData.Add("project", project);
    ViewData.Add("tracker", tracker);
}

<div>
    <form asp-controller="Home" asp-action="AddIssue" method="post">
        <ul>
            <li>
                @Html.DropDownList("project", ViewData["project"] as IEnumerable<SelectListItem>, "Выберите проект")
            </li>
            <li>
                @Html.DropDownList("tracker", ViewData["tracker"] as IEnumerable<SelectListItem>, "Выберите трэк")
            </li>
            <li>
                <input type="text" name="subject" value="" placeholder="Тема задачи" required />
            </li>
            <li>
                <input  type="text" name="description" placeholder="Описание" value="" required />
            </li>
            <li>
                @ViewBag.CreateResult
            </li>
            <li>
                <input class="btn" type="submit" value="Подать заявку" action="AddIssue" />
            </li>
   
        </ul>
    </form>
</div>
