@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Newtonsoft.Json
@using WebSupport.Account
@using WebSupport.Data
@using WebSupport.DataEntities
@using WebSupport.Models.ViewModels

@model TrackerViewModel
@{
    ViewData["Title"] = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string name = Account.currentUser.Lastname + ' ' + Account.currentUser.Firstname[0].ToString() + '.';
    string admin = "";
    if (Account.currentUser.Admin)
    {
        admin = "Администратор";
    }
    else
    {
        admin = "Сотрудник";
    }
}


<div class="table-scroll" >
    <div id="div_top_hypers" style="background-color:white;">
        <ul style="margin-top:15px; text-align:end; font-size:18px;" id="ul_top_hypers">
            <li id="user-label" >@admin: @name</li>
            <li>
                <h2 id="main-header" >Добавление задачи</h2>
                <hr align="right" width="100%" size="3" color="#1e5484" style="width:99%; margin-top:0;" />
                <br />
            </li>
        </ul>
    </div>
    <div class="form-control" style="margin:auto;">
        <form asp-controller="Home" asp-action="AddIssue" method="post" style="margin:auto;">
            <ul>
                <li style="text-align:center;">
                    <select asp-for="projectId" class="form-select form-select-lg mb-3" id="projectID" asp-items="@ViewBag.Projects">
                        <option disabled selected>--Выберите проект--</option>
                    </select>
                </li>
                <li>
                    <label for="">Трек для назначения исполнителя</label>
                    <select asp-for="Id" class="form-select" id="trackerID" disabled></select>
                </li>
                <li>
                    <label for="">Кратко с чем связано</label>
                    <br />
                    <input type="text" name="subject" value="" placeholder="Тема задачи" required />
                </li>
                <li>
                    <label for="">Суть задачи</label>
                    <br />
                    <textarea autocomplete="off" type="text" cols="40" rows="10" name="description" placeholder="Описание" value="" required></textarea>
                </li>
                <li>
                    <input id="subAdd" class="btn" type="submit" value="Подать заявку" action="AddIssue" />
                </li>
                <li>
                    <label class="bag">
                        @ViewBag.CreateResult

                    </label>
                </li>
            </ul>
        </form>
 </div>

</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            getTrackerByProjectId();
        })

        $("#projectID").change(function () {
            getTrackerByProjectId();
            var input = document.getElementById("trackerID");
            input.removeAttribute("disabled");
        });

        var getTrackerByProjectId = function () {
            var projID = $('#projectID option:selected').val();
            $.ajax({
                url: '@Url.Action("GetTrackerByProjectId", "Home")',
                type: 'GET',
                data: {
                    projectID: projID,
                },
                success: function (data) {
                    $('#trackerID').empty()
                    $(data).each(
                        function (index, item) {
                            $('#trackerID').append('<option value="' + item.id + '">' + item.name + '</option>')
                        }
                    )
                }

            })
        }

    </script>
}