@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Newtonsoft.Json
@using Redmine.Net.Api.Types;
@using RedmineLibrary.Servieces;
@{
    List<SelectListItem>  projects = ViewBag.Projects;
    List<SelectListItem> trackers = ViewBag.Trackers;

}


<div>
    <form asp-controller="Home" asp-action="Add" method="post">
     <ul>
         <li>
                @Html.DropDownList("projectsItems", projects, "Выберите проект")
         </li>
         <li>
                @Html.DropDownList("trackersItems", trackers, "Выберите трэк")
         </li>
         <li>
             <input type="text" name="theme" value="" placeholder="Тема задачи" required/>
         </li>
            <li>
                <input type="text" name="description" value="" placeholder="Описание" required/>
            </li>
         <li>
             <input class="btn" type="submit" value="Подать заявку" action="Index"/>
         </li>
     </ul>
    </form>
</div>
