:root {
    --color-cold-grey: #E1F2F7;
    --color-purpure: #EF0D50;
    --color-lite-white: #EB3A70;
    --color-purpure-grey: #E5BACE;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}

body {
    background-color: var(--color-cold-grey);
}

.title-header {
    text-align:center;
    position: absolute;
    top: -80%;
    left: 45%;
    transform: translate(-20%, -180%);
    padding: 0;
}

.for-img {
 
}
    .for-img img {
        position: absolute;
        left: 58%;
        transform: translate(-50%, -100%);
        padding: 10px;
    }

input {
    font-size: 20px;
    background-color: var( --color-purpure);
    font-style: revert-layer;
    color: white;
    border: inherit;
    border-radius: 15px;
    padding: 4px 12px;
    margin-top: 15px;
}

::placeholder {
    color: white;
}

ul {
    font-size: 28px;
    list-style-type: none;
}

.btn {
    margin-top: 20px;
    appearance: button;
    border: 0;
    border-radius: 8px;
    background: var( --color-purpure);
    color: #fff;
    border: 5px solid;
    position: absolute;
    left: 58%;
    transform: translate(-58%, 50%);
    padding: 6px 12px;
}

    .btn:hover {
        background: var( --color-purpure-grey);
        padding: 6px 20px;
    }

    .btn:focus {
        outline: none;
        box-shadow: 0 0 0 0#cbd6ee;
    }

form{
    width:100%;
    position:center;
}
select{
    padding:2px 8px;
}

select {
    display:  table-cell;
    border: 5px groove;
    padding: 4px 6px;
    font-size: 18px;
    margin-block:5px;
}